<main>
  {{#if hasProducts}}
    <div class="grid">
      {{#each prods}}
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title">{{this.title}}</h1>
          </header>
          <div class="card__image">
            <img
              src="https://th.bing.com/th/id/OIP.OoAl690Iup8yqMEjOSHdWgHaJv?rs=1&pid=ImgDetMain"
              alt="Great Book"
            />
          </div>
          <div class="cart__content">
            <h2 class="product__price">$20.55</h2>
            <p class="product__description">Great Book To Read Today</p>
          </div>
          <div class="card__actions">
            <button class="btn">Add To Cart</button>
          </div>
        </article>
      {{/each}}
    </div>
  {{else}}
    <h1>
      No Products Found Here
    </h1>
  {{/if}}
</main>