<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <title><%=pageTitle%></title>
  </head>
  <body>
    <header class="main-header">
      <%-include('../includes/navigation.ejs')%>
    </header>
  <%-include('../includes/navigation.ejs')%>